<h1>LD- EVERYDAY</h1>
<!-- <h3>A daily quote from the "social assassin"</h3> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<div class="wrapper">
  <div class="wrapper1">
    <div class="wrapper2">
      <div class="wrapper3">
        <div class="larry">
        </div>
      </div>
    </div>
  </div>
</div>
<button id='new-lddaily' type="submit" class="btn btn-default">Social Assassin</button>
<div id = 'quote-list'>
<!-- quotes go here -->
</div>
</table>
<script type="text/template" id='quotes-template'>
<tr>
  <td>
    <%%= quote %>
  </td>
  <td>
    <%%= source %>
  </td>
  <td>
    <%% id %>
  </td>
</tr>
</script>
